<!DOCTYPE html>
<html lang="en">

<%- include ("../includes/head") %>

    <body>
        <%- include ("../components/navbar.ejs") %>
            <div class="container">
                <h1>Hello Bangkit!</h1>
            </div>

            <%- include ("../includes/script") %>
    </body>

</html>